body{
    margin: 0;
    padding: 0;
}
#hero{
    background-color: dodgerblue;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}
#hero_img{
    height: 50vh;
}
#hero div{
    margin-right: 3em;
}
#header_main{
    text-align: center;
    color: #999999;
    background-color: #fbfbfb;
    margin-top: O;
    border-bottom: 1px solid grey;
    padding-top: 2em;
}
#header_main h2{
    margin-top: 0;
}
hr{
    width: 2em;
    border-bottom: solid grey;
    margin: auto;
    margin-bottom: 1.5em;
}
#icone{
    width: 30%;
    margin: auto;
    padding: 0 0 1.5em 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 3em;
}
#icone li{
    height: inherit;
}
#icone_img{
    height: inherit;
    text-align: center;
}
main section{
    padding-top: 2em;
    margin:auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.flou1{
    width: 7em;
    height: 7em;
    margin-right: 3em;
    border-radius: 100%;
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
}
.flou2{
    width: 7em;
    height: 7em;
    margin-left: 3em;
    border-radius: 100%;
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px #e6e6e6;
}
#section2{
    text-align: right;
    margin-top: 2em;
    border-top: solid #999999;
}
.section3{
    margin-top: 2em;
    border-top: solid #999999;
}
.iconebas{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.iconebas li{
    display: flex;
    align-items: center;
}
.iconebas img{
    height: 2vh;
    margin: 0 1em;
}
#section4{
    width: 100%;
    color: #999999;
    background-color: #fbfbfb;
    border-top: 1px solid grey;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
#section4 div{
    width: 60%;
}
#section4 button{
    margin: 0;
    margin-bottom: 2em;
}
#button_download{
    background-color: rgb(31, 40, 161);
    color: white;
}
footer{
    border-top: 1px solid grey;
    background-color: #f7f7f7;
    text-align: center;
}
#iconesocial{
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
}
#iconesocial li{
    height: inherit;
}
#iconesocial img{
    height: inherit;
    margin: 0 1em;
}
